#header
{
    position: absolute;
    width: 1260px;
    height: 128px;
    left: 0px;
    top: 0px;

    background: url(header.png);
}
#logo
{
    position: absolute;
    left: 44.6%;
    right: 44.6%;
    top: 18.75%;
    bottom: 18.75%;
}
#LeftMenuPic
{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 25%;
    bottom: 25%;
}
#LeftMenuButton
{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 120px;
    top: 48px;
    background-color: transparent;
    border-color: transparent;
}
#Phone
{
    position: absolute;
    width: 176px;
    height: 32px;
    left: 964px;
    top: 48px;
}
#PhoneNum
{
    position: absolute;
    width: 128px;
    height: 16px;
    left: 964px;
    top: 56px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
#Call
{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1108px;
    top: 48px;    
    background-color: transparent;
    border-color: transparent;
}